body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loginClass{
border: 1px solid lightgrey;
padding: 10px;
width: 620px;
}

.ViewListTaskClass {
  border: 2px solid silver;
  padding: 10px;
  text-decoration: none;
}

.ViewListTaskClassLi {
  border: 1px solid lightgrey;
  margin: 3px;
}

.ViewListTaskClassUl {
  list-style-type: none;
}

.FilterTaskClass {
  border: 1px solid lightgrey;
  padding: 5px;
  margin: 5px;
  width: 1100px;
}

img {
  border: 1px solid black;
}

button {
  padding: .2em 1.1em; /* отступ от текста */
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: gray  ; /* фон кнопки */
  outline: none; /* убирать контур в Mozilla */
}
button:hover { background: silver ; } /* при наведении курсора мышки */
button:active { background: gainsboro  ; } /* при нажатии */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
